@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.stroke-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 230px;
  align-self: center;
  user-select: none;
}
.white {
  background-color: white !important;
  color: #000 !important;
}

.transparent {
  color: white !important;
  background: transparent !important;
}
.skill::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: red;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-70%);
}

@keyframes logoanimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes nav {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.logo {
  animation: logoanimation 2s ease-in-out;
}
.nav-item {
  animation: nav 2s ease-in-out;
}

@keyframes showads {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.ads {
  animation: showads 1s;
}

.bi-diagram {
  box-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}
